html{
  scroll-behavior: smooth;
}
body{
  background-color: #E3E3E3;
  display: inline-block;
  font-family: "Minion Variable Concept";
}

nav ul{
  list-style-type: none;
}

nav li{
  display : inline-block;
  padding-right: 15px;
  margin: 10px;
}
nav li:first-child{
  padding-left: 20px;
  text-decoration-line: underline;
  text-decoration-style: solid;
}

nav a{
  color: black;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover{
  text-decoration: underline;
}
.container{
  display: grid;
  grid-template-columns: 10px 320px 10px;
  grid-template-rows: 100px 13(600px) ;
  grid-gap: 15px;
}
.container header{
  margin: 10px;
  padding:30px;
  padding-top: 40px;
  padding-bottom:20px;
  font-family: "Segoe Script";
  font-size: 30px;
  height: 100px;
  grid-column:2/3;
  grid-row:1/2;
  text-align: center;
  border: 1px dashed black;
}
.about-image{
  background-image: url("/images/cavspic.jpg");
  grid-column: 2/3;
  grid-row: 2/3;
  object-fit: cover;
  overflow: hidden; 
}
.about{
  text-align: center;
  margin: 10px;
  font-size: 15px;
  grid-column: 2/3;
  grid-row: 3/4;
  justify-self: center;
  align-self: center;
  border: 1px solid black;
  padding: 10px;
  line-height: 20px;
}
.cavs-image{
  background-image: url("images/cavaliers-cavs-cleveland-1081256.jpg");
  grid-column: 2/3;
  grid-row: 4/5;
  overflow: hidden;
}
.cavs{
  text-align: center;
  margin: 10px;
  font-size: 15px;
  grid-column: 2/3;
  grid-row: 5/6;
  justify-self: center;
  align-self: center;
  border: 1px solid black;
  padding: 10px;
  line-height: 20px;
}
.softball-image{
  background-image: url("images/msoftball.jpg");
  grid-column: 2/3;
  grid-row: 6/7;
  overflow: hidden;
}
.softball{
  text-align: center;
  margin: 10px;
  font-size: 15px;
  grid-column: 2/3;
  grid-row: 7/8;
  justify-self: center;
  align-self: center;
  border: 1px solid black;
  padding: 10px;
  line-height: 20px;
}
.personal-image{
  background-image: url("images/bbb program 2.jpg");
  grid-column: 2/3;
  grid-row: 8/9;
  overflow: hidden;
}
.personal{
  text-align: center;
  margin: 10px;
  font-size: 15px;
  grid-column: 2/3;
  grid-row: 9/10;
  justify-self: center;
  align-self: center;
  border: 1px solid black;
  padding: 10px;
  line-height: 20px;
}
.resume-image{
  background-image: url("images/michigan.jpg");
  grid-column: 2/3;
  grid-row: 10/11;
  overflow: hidden;
} 
.resume{
  text-align: center;
  margin: 10px;
  font-size: 15px;
  grid-column: 2/3;
  grid-row: 11/12;
  justify-self: center;
  align-self: center;
  border: 1px solid black;
  padding: 10px;
  line-height: 20px;
}
footer{
  margin: 10px;
  text-align: center;
}