html{
  scroll-behavior: smooth;
}
body{
  background-color: #E3E3E3;
  display: inline-block;
  font-family: "Minion Variable Concept";
}

nav ul{
  list-style-type: none;
}

nav li{
  display : inline-block;
  padding-right: 15px;
  margin: 10px;
}
nav li:first-child{
  padding-left: 20px;
}
nav li:last-child{
  text-decoration-line: underline; 
  text-decoration-style: solid;
}

nav a{
  color: black;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover{
  text-decoration: underline;
}
.container{
  display: grid;
  grid-template-columns: 10px 320px 10px;
  grid-template-rows: 100px 13(600px) ;
  grid-gap: 15px;
}
.container header{
  margin: 10px;
  padding:30px;
  padding-top: 40px;
  padding-bottom:20px;
  font-family: "Segoe Script";
  font-size: 30px;
  height: 100px;
  grid-column:2/3;
  grid-row:1/2;
  text-align: center;
  border: 1px dashed black;
}
h1{
  text-align: center;
  font-size: 25px;
  text-decoration: underline;
  margin: 30px;
  margin-bottom: 0px;
}
img{
  margin: 25px;
  grid-column: 2/3;
  grid-row: 2/3;
}
h2{
  text-align: center;
  border: 1px solid black;
  padding: 5px;
  margin-left: 25px;
  margin-right: 25px;
}
footer{
  margin: 10px;
  text-align: center;
}