html{
    scroll-behavior: smooth;
}
body{
    display: inline-block;
    font-family: "Minion Variable Concept";
}
.skip a{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}
.skip a:focus{  
    top:0px;
}
  
:focus{
    border: 2px solid black;
}

nav ul{
    list-style-type: none;
    text-align: right;
    position: relative;
}
nav li{
    display: inline-block;
    margin: 10px;
    font-size: 15px;
    margin-left: 0px;
}
.indexnav li:first-child{
    margin-left: 0px;
    text-decoration-line: underline;
    text-decoration-style: solid;
}
nav a{
    font-weight: bold;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
}
.container{
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15% 15% 15%;
    grid-template-rows: auto auto auto auto auto;
    width: 100vw;
    justify-content: center;
}
#name{
    float: left;
    margin-left: 5%;
    margin-top: -23px;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    color: black;
    font-size: 15px;
}
.about{
    grid-column: 1/8;
    background-color: #E2CDEE;
}
