html{
  scroll-behavior: smooth;
}
body{
  background-color: #E3E3E3;
}
h1{
  font-size: 200px;
  text-align: center;
}
.container{
  display: grid;
  grid-template-columns: 100px auto auto 100px;
  grid-template-rows: 30px auto auto auto auto 100px;
  grid-row-gap: 15p;
  width: 100vw;
}
.about-image{
  background-image: url("images/cavspic.jpg");
  grid-column: 1/-1;
  grid-row: 2/3;
  transform: rotate(90deg);
  max-height: 500px;
  overflow: hidden;
}
/* .projects-images{
  background-image: url("images/cavaliers-cavs-cleveland-1081256.jpg");
  grid-column: 1/2;
  grid-row: 2/3;
  max-height: 500px;
  overflow: hidden;
}
.resume-image{
  background-image: url("images/michigan.jpg");
  grid-column: 1/2;
  grid-row: 3/4;
  max-height: 500px;
  overflow: hidden;
} */